.scrollComponent{
  display: flex;
  justify-content: center; 
  
}
.wrapper{
  display: flex;
 flex-direction: column;
 gap: 1.3rem;
 max-width: 90%;
}

.userProfile{
  border-radius: 100%;
  height:70%;
  width: fit-content;
}

.createPostContainer{
  display: flex;
  height: 10svh;
  width: 100%;
  padding-inline: 0.8rem;
  gap: 1.3rem;
  align-items: center;
  position: relative;
  background: rgb(235, 247, 250);
  border-radius: 10px;
}
.uploadButton{
  position: absolute;
  right: 0;
  bottom: -45%;
  background:rgb(0, 191, 255) ;
  color: white;
  border-radius: 8px;
  padding:0.4rem 0.8rem;
  font-size: 15px;
  cursor: pointer;
}


.fab{
  background: rgb(0, 145, 255);
  border-radius: 100%;
  display: flex;
  justify-content: center;
}

.fab>svg{
   width: fit-content;
   height: 30px;
   color: white;
}

.textAreaOfContent{
  width: 80%;
  height: 70%;
    border: 1px solid silver;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding-inline: 1.5rem;
  padding-block: 0.8rem;
  outline: none;
}

.singleCard{
  width: 100%;
  border-radius:10px 10px 0px 0px ;
  border-bottom: 1px solid rgb(179, 179, 179);

}

.singleCard_profileContainer{
  display: flex;
  align-items: flex-start;
  gap: 1.1rem;
  padding: 1.2rem;
  padding-right: 3.4rem;
}

.singleCard_profileContainer>img{
  width: 10%;
  border-radius: 50%;
}
.singleCard_image{
  width: 100%;
  padding-top:0.6rem ;
  height: fit-content;
  overflow: hidden;
}
.singleCard_image>img{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}

.optionsContainer{
  display: flex;
  height: 20%;
  width: 100%;
  justify-content: space-between;
  padding-block: 0.3rem;
}
.singleOption_optionsContainer{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
}
.singleOption_optionsContainer>svg{
  height: 100%;
  width: 15%;
  min-width: 1rem;
}
.commentsContainer{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0,0.7);
  overflow: hidden;
  justify-content: center;
  display: flex;
  align-items: center;
}

.postCommentContainer>input{
  flex: 0.9;
  padding-inline:1.5rem ;
  padding-block:1.2rem ;
  border: none;
  outline: none;
  background-color: rgb(228, 228, 228);
  border-radius: 10px;
}
.postCommentContainer>input:focus{
  border: 1px solid silver;
}
.postCommentContainer_commentBtn{
flex: 0.1;
width: fit-content;
padding:0.8rem 1.2rem;
background: rgb(0, 157, 255);
border-radius: 10px;
text-align: center;
color: white;
cursor: pointer;
}
.singleComment_usernameImg{
  display: flex;
  gap: 0.5rem;
}

 .allCommentsContainer {
  min-width: 40svw;
  height: 80vh;
  max-width: 750px;
  background: white;
  border-radius: 10px;
  position: relative;
  display: flex;              
  flex-direction: column;     
  padding: 0;                
  overflow: hidden;
}


.commentsList {
  flex: 1;                   
  overflow-y: auto;           
  padding: 1.4rem;            
}


.postCommentContainer {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 1.2rem;
  border-top: 1px solid #ddd; 
  background: #fff;
}

@media screen and (max-width:600px){
  .allCommentsContainer{
    width: 90%;
  }
}
