/* [project]/src/layout/DashboardLayout/style.module.css [client] (css) */
.style-module__n4BBnW__homeContainer {
  display: flex;
}

.style-module__n4BBnW__homeContainer > div:nth-child(odd) {
  flex: .2;
}

.style-module__n4BBnW__homeContainer > div:nth-child(2n) {
  flex: .6;
}

.style-module__n4BBnW__homeContainer_leftBar {
  border-right: 1px solid #dedede;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  display: flex;
}

.style-module__n4BBnW__sideBarOption {
  cursor: pointer;
  align-items: center;
  gap: .8rem;
  width: 80%;
  min-width: 80%;
  max-width: 80%;
  margin: 0 auto;
  font-size: 1rem;
  transition: all .2s;
  display: flex;
}

.style-module__n4BBnW__sideBarOption:hover {
  transform: scale(1.11);
}

.style-module__n4BBnW__sideBarOption > svg {
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: 1.2em;
}

.style-module__n4BBnW__homeContainer_extraContainer {
  border-left: 1px solid #dedede;
  padding-left: 1.2rem;
}

.style-module__n4BBnW__homeContainer_feedContainer {
  padding-left: .8rem;
  padding-right: .8rem;
}

.style-module__n4BBnW__mobileNavBar {
  z-index: 1000;
  background: #fff;
  border-top: 1px solid #ddd;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 6vh;
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
}

.style-module__n4BBnW__mobileNavBar svg {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

.style-module__n4BBnW__singleNavItemHolder_mobileView {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.style-module__n4BBnW__homeContainer_feedContainer {
  padding-bottom: 8vh;
}

@media only screen and (max-width: 600px) {
  .style-module__n4BBnW__homeContainer_extraContainer {
    display: none;
  }

  .style-module__n4BBnW__homeContainer {
    display: block;
  }

  .style-module__n4BBnW__homeContainer_leftBar {
    display: none;
  }

  .style-module__n4BBnW__mobileNavBar {
    display: flex;
  }
}

/* [project]/src/Components/Navbar/styles.module.css [client] (css) */
.styles-module__dL6Fgq__container {
  padding: 1.2rem;
  font-family: Poppins;
}

.styles-module__dL6Fgq__navBar {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.styles-module__dL6Fgq__navBarOptionContainer {
  display: flex;
}

.styles-module__dL6Fgq__buttonJoin {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #fff;
  background-color: #3bbff4;
  border: 2px solid #02afff;
  border-radius: 1rem;
  margin-top: .5rem;
  padding: .5rem 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all .2s;
}

/* [project]/src/pages/view_profile/index.module.css [client] (css) */
.index-module__wh4uvW__container {
  background: #fdfcfc;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1.3rem;
  display: flex;
}

.index-module__wh4uvW__backDropContainer {
  background: url("https://t4.ftcdn.net/jpg/06/31/31/59/360_F_631315988_3lfMZC4kDyiJJJzsxNQivlotI4QGeHow.jpg") 0 0 / cover no-repeat;
  border-radius: 20px;
  width: 100%;
  height: 30vh;
  position: relative;
}

.index-module__wh4uvW__backDropContainer img {
  object-fit: cover;
  text-align: center;
  border-radius: 50%;
  width: 9em;
  height: 9em;
  position: absolute;
  bottom: -30%;
  left: 8%;
}

.index-module__wh4uvW__profileContainer_details {
  padding-top: 6.6rem;
}

.index-module__wh4uvW__card {
  align-items: center;
  gap: 1.4rem;
  display: flex;
}

.index-module__wh4uvW__card_profileContainer > img {
  object-fit: cover;
  width: 3.4rem;
  height: 3.4rem;
}

.index-module__wh4uvW__connectBtn {
  color: #fff;
  cursor: pointer;
  background: rgba(3, 93, 183, .906);
  border: none;
  border-radius: 10px;
  outline: none;
  padding-top: .3rem;
  padding-bottom: .3rem;
  padding-left: .8rem;
  padding-right: .8rem;
}

.index-module__wh4uvW__connectedButton {
  color: rgba(3, 93, 183, .906);
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 10px;
  outline: none;
  padding-top: .3rem;
  padding-bottom: .3rem;
  padding-left: .8rem;
  padding-right: .8rem;
}

.index-module__wh4uvW__workHistoryContainer {
  flex-wrap: wrap;
  gap: 1.4rem;
  width: 100%;
  padding-top: 1.4rem;
  display: flex;
}

.index-module__wh4uvW__workHistoryCard {
  border-radius: 10px;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  box-shadow: 10px 10px 15px #adadad;
}

.index-module__wh4uvW__profileContainer_flex {
  gap: .7rem;
  display: flex;
}

@media only screen and (max-width: 600px) {
  .index-module__wh4uvW__profileContainer_flex {
    flex-direction: column;
  }
}

/*# sourceMappingURL=src_91e2fbf6._.css.map*/