/* [project]/src/pages/profile/index.module.css [client] (css) */
.index-module__08sLfW__container {
  background: #fdfcfc;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1.3rem;
  display: flex;
}

.index-module__08sLfW__backDropContainer {
  background: url("https://t4.ftcdn.net/jpg/06/31/31/59/360_F_631315988_3lfMZC4kDyiJJJzsxNQivlotI4QGeHow.jpg") 0 0 / cover no-repeat;
  border-radius: 20px;
  width: 100%;
  height: 30vh;
  position: relative;
}

.index-module__08sLfW__backDropContainer img {
  object-fit: cover;
  text-align: center;
  border-radius: 50%;
  width: 9em;
  height: 9em;
  position: absolute;
  bottom: -30%;
  left: 8%;
}

.index-module__08sLfW__profileContainer_details {
  padding-top: 6.6rem;
}

.index-module__08sLfW__card {
  align-items: center;
  gap: 1.4rem;
  display: flex;
}

.index-module__08sLfW__card_profileContainer {
  display: flex;
}

.index-module__08sLfW__card_profileContainer > img {
  object-fit: cover;
  width: 3.4rem;
  height: 3.4rem;
}

.index-module__08sLfW__backDrop_overlay {
  object-fit: cover;
  text-align: center;
  z-index: 4;
  cursor: pointer;
  color: #fff;
  opacity: 0;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 9em;
  height: 9em;
  transition: all .4s;
  display: flex;
  position: absolute;
  bottom: -30%;
  left: 8%;
}

.index-module__08sLfW__backDrop_overlay:hover {
  opacity: .7;
  background: #000;
}

.index-module__08sLfW__connectBtn {
  color: #fff;
  cursor: pointer;
  background: rgba(3, 93, 183, .906);
  border: none;
  border-radius: 10px;
  outline: none;
  padding-top: .3rem;
  padding-bottom: .3rem;
  padding-left: .8rem;
  padding-right: .8rem;
}

.index-module__08sLfW__connectedButton {
  color: rgba(3, 93, 183, .906);
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 10px;
  outline: none;
  padding-top: .3rem;
  padding-bottom: .3rem;
  padding-left: .8rem;
  padding-right: .8rem;
}

.index-module__08sLfW__workHistoryContainer {
  flex-wrap: wrap;
  gap: 1.4rem;
  width: 100%;
  padding-top: 1.4rem;
  display: flex;
}

.index-module__08sLfW__workHistoryCard {
  border-radius: 10px;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  box-shadow: 10px 10px 15px #adadad;
}

.index-module__08sLfW__profileContainer_details input {
  border-style: none;
  outline: none;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 10px;
  padding-right: 10px;
}

.index-module__08sLfW__nameEdit {
  font-size: 1.5rem;
  font-weight: bold;
}

.index-module__08sLfW__updateProfileBtn {
  color: #fff;
  cursor: pointer;
  background: rgba(3, 93, 183, .906);
  border: none;
  border-radius: 10px;
  outline: none;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: .3rem;
  padding-bottom: .3rem;
  padding-left: .8rem;
  padding-right: .8rem;
}

.index-module__08sLfW__profileContainer_details textarea {
  border: none;
  outline: none;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.1rem;
  font-family: Poppins !important;
}

.index-module__08sLfW__addWorkBtn {
  cursor: pointer;
  background: #fff;
  border: 1px dotted silver;
  border-radius: 10px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}

.index-module__08sLfW__commentsContainer {
  z-index: 2;
  z-index: 5;
  background: rgba(0, 0, 0, .7);
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.index-module__08sLfW__allCommentsContainer {
  background: #fff;
  border-radius: 10px;
  flex-direction: column;
  gap: 1.2rem;
  width: 40vw;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1.4rem;
  display: flex;
  position: relative;
}

.index-module__08sLfW__inputField {
  border: 1px solid silver;
  border-radius: 10px;
  outline: none;
  width: 100%;
  padding-top: .8rem;
  padding-bottom: .8rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}

.index-module__08sLfW__profileContainer_flex {
  gap: .7rem;
  display: flex;
}

@media only screen and (max-width: 600px) {
  .index-module__08sLfW__profileContainer_flex {
    flex-direction: column;
  }
}

/*# sourceMappingURL=src_pages_profile_index_module_css_14eac1ce._.single.css.map*/